node_modules
.DS_Store
.env
app/.env
app/.env*
app/src/assets/*.mov
app/src/assets/*.mp4
app/node_modules
docker-compose-server
server/.env
server/node_modules
server-v2/.env
server-v2/node_modules
server-v3/node_modules
server-v3/dist
.vscode
*.mp4
